<footer class="bg-light text-dark text-center p-4">
    <div class="container">
        <p>
            Copyright &copy; 2022 All Right Reserved 
            <br> Made With &hearts;
        </p>
    </div>
</footer>